//@extend-elements
%extend1 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
}


html {
	@extend %extend1;
}
body {
	@extend %extend1;
	font-family: $font1;
	@include font-rem($doc-font-size);
	color: var(--text-color);
	background-color: var(--bg-color);
	background-position: center center;
	background-attachment: fixed;
	@media #{$small} {
	    background-image: none !important;
		background: var(--container-bg);
	}
}
* {
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
*::before {
	box-sizing: border-box;
}
.header {
	height: 100%;
	position: relative;
	width: 100%;
	min-height: 300px;
	text-align: left;
	color: var(--welcome-text-color);

    h1 {
        color: var(--welcome-text-color);
    }

	@media #{$small} {
		display: block !important;
	}
	@media only screen and (max-height: 500px) {
	    display: block !important;
	}
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.container {
	width: 36rem;
	max-width: 550px;
	padding-right: 15px;
	padding-left: 15px;
	@include center-block();
	background-color: var(--container-bg);
	color: var(--heading-color);
	z-index: 1;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 var(--shadow-color);
	@include transition(.5s);
	@media #{$small} {
		width: 100%;
	    box-shadow: none;
	}
	@media #{$medium} {
		width: 80%;
	}
}
.row {
	margin-top: 15px;
	text-align: center;
	.title {
	    margin-top: 0;
	    margin-bottom: 5px;
	}
	@media #{$small} {
		padding: 0 1em;
	}
}
.wrapper {
	width: 75%;
	max-width: 850px;
	margin: 4rem auto;
	background: var(--container-bg);
	color: var(--text-color);
	padding: 2em;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 var(--shadow-color);
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
	    box-shadow: none;
	}
}
#disqus_thread {
	width: 75%;
	max-width: 850px;
	margin: -3rem auto 4rem;
	background: var(--container-bg);
	color: var(--text-color);
	padding: 2em;
	border-radius: 3px;
	box-shadow: 0 0 10px 0 var(--shadow-color);
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
	    box-shadow: none;
	}
}
// entry meta
.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: var(--meta-color);
	padding-left: 0;
	a {
		color: var(--meta-color);
	}
	li {
	    list-style-type: none;
	    display: inline;
	}
	.tag {
	    display: inline-block;
        border: 1px solid;
        border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
        @include rounded(3px);
        text-decoration: none;
        background-color: var(--container-bg);
        color: var(--text-color);
        @include transition(.75s);
        margin: 2px 5px;
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: var(--bg-color);
			@include border-radius(3px,3px,0,0);
		}
		&:hover {
			background-color: var(--bg-color);
			box-shadow: 0 0 1px 0 var(--shadow-color);
		}
	}
}
header .entry-meta {
	display: none; // hide header meta on small screens
	@media #{$notsmall} {
		display: block;
	}
}
.entry-title a {
    text-decoration: none;
}
.entry-tags {
	display: block;
    margin-top: 1rem;
	width: 70%;
    float: left;
    text-align: left;
}
.social-share {
	display: block;
    margin-top: 1rem;
    width: 30%;
    float: right;
    text-align: right;
}
.feature {
    @include transition(.5s);
    @media #{$small} {
        background-image: none !important;
    }
    @media #{$medium} {
        color: white;
        padding: 4em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
    @media #{$notsmall} {
        color: white;
        padding: 10em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
}

// Welcome Section
.welcome-section {
    text-align: center;
    color: var(--welcome-text-color);
    padding: 40px 20px;
    
    h2 {
        font-weight: 300;
        margin-bottom: 15px;
        color: var(--welcome-text-color);
    }
    
    h3 {
        font-size: 1.3em;
        font-weight: 500;
        opacity: 0.95;
        margin-bottom: 25px;
        color: var(--welcome-text-color);
    }
    
    p {
        font-size: 1.1em;
        line-height: 1.6;
        max-width: 700px;
        margin: 0 auto 30px auto;
    }
}

.welcome-divider {
    border-top: 1px solid var(--welcome-border-color);
    width: 100px;
    margin: 0 auto 40px auto;
}

// Theme Toggle Button
.theme-toggle, .lang-toggle {
    background: transparent;
    border: 2px solid var(--welcome-text-color);
    color: var(--welcome-text-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    // z-index: 1001; // Managed by container
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
    &:hover {
        background: var(--welcome-text-color);
        color: var(--bg-color);
    }
}
    
    i {
        font-size: 1.2rem;
    }
}
