// content area
.content {
	@include font-size(14);
	padding: 0 2rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	text-align: justify;
	@media #{$small} {
		padding: 0 .5em;
	}
}

// titles
.title {
	text-align: center;
	font-weight: bold;
	> p {
		text-align: center;
		font-weight: bold;
	}
	> a > p {
		text-align: center;
		font-weight: bold;
	}
}
.post-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 3rem;
}

// headings
h3.title a {
	color: var(--heading-color);
	text-decoration: none;
}

// post list
.post-list {
    text-align: left;
	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		padding: 10px 18px;
		margin: 0 10px;
		text-decoration: none;
		background: var(--container-bg);
		color: var(--heading-color);
		a {
			@include font-rem(20);
			text-decoration: none;
			color: var(--heading-color);
			font-weight: bolder;
            &:hover {
                color: var(--link-hover-color);
            }
		}
		p {
			font-weight: lighter;
			@include font-rem(16);
		}
	}
}

// quotes
blockquote {
	font-family:$alt-font;
	font-style:italic;
	border-left:8px solid var(--subheading-color);
	padding-left:20px;
	margin: 0;
}
@media only screen and (min-width: 48em) {
	blockquote {
		margin-left:-28px
	}
}

// figcaption
figcaption {
    padding-top: 10px;
    @include font(14);
    color: var(--meta-color);
}

// links
a {
  transition: color .4s;
  color: var(--link-color);
  &:link {
  	color: var(--link-color);
  }
  &:visited {
  	color: var(--text-color);
  }
  &:hover {
  	color: var(--link-hover-color);
  }
  &:active {
  	color: var(--link-hover-color);
  }
}

// pre and code
pre, code {
	font-family: $font2;
	overflow-x: auto;
}
p code,
li code,
p pre,
li pre {
    @include font(14);
    background-color: var(--code-bg);
    border: 1px solid var(--code-border);
    @include rounded(4px);
    margin: 0 2px;
    padding: 0 5px;
}
li .highlight code,
li .highlight pre {
    background-color: transparent;
    border: 0;
}

// table
table {
	width: 100%;
}

// notice
.notice {
    margin-top: 1.5em;
    padding: .5em 1em;
    text-indent: 0;
    @include font-rem(14);
    background-color: var(--notice-bg);
    border: 1px solid var(--notice-border);
    @include rounded(3px);
}

// description title
dt {
    font-weight: bolder;
}
