---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body class="example">
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeInUp">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img style="border-radius:30%;" src="{{ site.logo }}" class="img-circle zoombtn animated fadeInUp">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                            <div id="typed-strings" >
                                <p>{{ site.bio1 }}</p>
                                <p>{{ site.bio2 }}</p>
                                <p>{{ site.bio3 }}</p>
                                <p>{{ site.bio4 }}</p>
                                <p>{{ site.bio5 }}</p>
                                <p>{{ site.bio6 }}</p>
                                <p>{{ site.bio7 }}</p>
                              </div>
                              <span style="font-size:1rem;font-weight:300" id="typed"></span>
			            </a>
                    </h3>
          
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         Sobre
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Todas as postagens
                         </a>
                        <!-- 

                                Tirado de produção, será disponibilizado a partir das postagens futuramente.


                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projetos
                         </a>
                        
                        
                        -->
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script>
        $("#example, body").vegas({

            delay: 7000,
            timer: false,
            shuffle: true,
            firstTransition: 'fade',
            firstTransitionDuration: 100,
            transition: 'fade2',
            transitionDuration: 20000,
            slides: [
                { src: "{{ site.url }}/assets/img/slide1.jpg" },
                { src: "{{ site.url }}/assets/img/slide2.jpg" },
                { src: "{{ site.url }}/assets/img/slide3.jpg" },
                { src: "{{ site.url }}/assets/img/slide4.jpg" }
            ]
        });
    </script>
</body>
</html>
