---
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body class="example">
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1 class="lang-pt">{{ page.title }}</h1>
                    <h1 class="lang-en">{{ page.title_en | default: page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">
                                <span class="lang-pt">{{ post.title }}</span>
                                <span class="lang-en">{{ post.title_en | default: post.title }}</span>
                            </a>
                            <p class="lang-pt">{{ post.description | default: post.excerpt }}</p>
                            <p class="lang-en">{{ post.description_en | default: post.description | default: post.excerpt }}</p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">
                                <span class="lang-pt">Ler mais</span>
                                <span class="lang-en">Read more</span>
                            </a>
                        </li>
                    </ul>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
    <script>
        $("#example, body").vegas({

            delay: 7000,
            timer: false,
            shuffle: true,
            firstTransition: 'fade',
            firstTransitionDuration: 100,
            transition: 'fade2',
            transitionDuration: 20000,
            slides: [
                { src: "{{ site.url }}/assets/img/slide1.jpg" },
                { src: "{{ site.url }}/assets/img/slide2.jpg" },
                { src: "{{ site.url }}/assets/img/slide3.jpg" },
                { src: "{{ site.url }}/assets/img/slide4.jpg" }
            ]
        });
    </script>
</body>
</html>
