name: CI Jekyll and Links
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  jekyll-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Build Jekyll
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --trace
  link-check:
    runs-on: ubuntu-latest
    needs: jekyll-build
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Build site
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --trace
      - name: Lychee Link Checker
        uses: lycheeverse/lychee-action@v1
        with:
          args: --config .lychee.toml --input _site --base https://rodrigosantucci.github.io --timeout 20s --max-concurrency 10 --retry 2
